<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="../../assets/js/jquery-3.4.1.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        ul.a {
            background: lightskyblue;
            list-style-type: square;
            list-style-position: inside;
            padding: 10px 10px 10px 50px;
        }

        li {
            background: #f1f1f1;
            padding: 10px 10px 10px 20px;
            margin: 10px 10px 10px 10px;
        }

        h1.title {
            text-align: center;
        }
    </style>

</head>


<body>
<h1 class="title">iteyes API 자동화 시스템</h1>
<table border=2>
    <tr th:each="apilist, iter: ${apilist}">
        <td th:text="${apilist.ApiId}"</td>
        <td>
            <button type="submit"  th:text="${apilist.ApiKor}" onclick="location.href='http://localhost:8080/test2.html'" id="num" > </button>
        </td>
    </tr>
</table>
</ul>


<h3></h3>

<script>

</script>

</body>
</html>