<!DOCTYPE html>
<html xmlns:sh="http://www.thymeleaf.org"></html>
<html lang="en">
<head>
    <script type="text/javascript" src="../../assets/js/jquery-3.4.1.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    스프링부트 테스트
</body>
</html>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script>
    $(document).ready(function(){
        $.ajax({
            url='http://localhost:8080/api1Preview',
            type='POST',
            data:{
                Name:'ajax',
                Age:'10'
            },
            dataTYPE='text', // 리턴 타입 지정
            beforeSend:function(jqXHR){
                console.log("ajax 호출 전")
            }, // 서버 요청 전 호출 되는 함수 return false; 일 경우 요청 중단
            success:function (data){
                console.log("호출 성공");
                console.log(JSON.parse(data));
            }, // 요청 완료 시
            error:function(jqXHR){
                console.log*("실패입니다.");
            } // 요청 실패
        });
    });
</script>