<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>list</title>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>nameKor</th>
        <th>type</th>
        <th>nameEng</th>
        <th>des</th>
    </tr>
    <tr th:each="parameters: ${parameters}">
        <td th:text="${parameters.id}"></td>
        <td th:text="${parameters.nameKor}"></td>
        <td th:text="${parameters.type}"></td>
        <td th:text="${parameters.nameEng}"></td>
        <td th:text="${parameters.des}"></td>
    </tr>
</table>
</body>
</html>