<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        ul.a {
            background: lightskyblue;
            list-style-type: square;
            list-style-position: inside;
            padding: 10px 10px 10px 50px;
        }

        li {
            background: #f1f1f1;
            padding: 10px 10px 10px 20px;
            margin: 10px 10px 10px 10px;
        }

        h1.title {
            text-align: center;
        }
    </style>

</head>
<body>
<h1 class="title">iteyes API 자동화 시스템</h1>
<table class="view">
    <tr th:each="apiRepository : ${apiRepository}">
        <td th:text="${apiRepository.apiKor}"></td>
<!--        <td th:text="${apiRepository.apiUrl}"></td>-->
<!--        <td th:text="${apiRepository.serviceKey}"></td>-->
<!--        <td th:text="${apiRepository.apiId}"></td>-->
    </tr>
</table>
<!--<ul class="a">-->
<!--    <li>보건복지부_코로나19 감염_현황</li>-->
<!--    <li>서울특별시 코로나19 확진자 발생동향</li>-->
<!--    <li>서울특별시 코로나19 자치구별 확진자 발생동향</li>-->
<!--    <li>서울시 코로나19 확진자 현황</li>-->
<!--    <a th:href="@{/API5}">-->
<!--    <li>서울특별시 코로나19 백신 예방접종 현황</li>-->
<!--    </a>-->
<!--</ul>-->

<!--<input type="button" value="팝업창" onclick="'showPopup()"/>-->

<h3></h3>

<script>
    function showPopup() {
        window.open("08_2_popup.html", "a", "width=400, height=300, left=100, top=50");
    }
</script>

</body>
</html>