<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<html lang="en">
<head>
    <script type="text/javascript" src="../../assets/js/jquery-3.4.1.js"></script>
    <meta charset="UTF-8">
    <title>입력</title>
</head>

<body>
<div>
  <h2> <보건복지부_코로나19 감염_현황> </h2>
    <table border=2>
        <th>항목명(국문)</th>
        <th>항목명(영문)</th>
        <th>항목구분</th>
        <th>샘플데이터</th>
        <th>항목설명</th>
        <th>값을 입력하세요</th>
    </tr>
      <tr th:each="parameter, iter: ${parameters}">
          <td th:text="${parameter.Api_Kor}"></td>
          <td th:text="${parameter.Api_Eng}"></td>
          <td th:text="${parameter.Option}"></td>
          <td th:text="${parameter.Sample}"></td>
          <td th:text="${parameter.des}"></td>
          <td><input th:id="${iter.index}"type="text" ></td>
      </tr>
  </table>
    <button onclick="location.href=''">미리보기</button>


</div>

</body>
</html>